@import '../../bower_components/universal-ie6-css/universal-ie6';

// Browse Happy prompt

.browsehappy
{
    margin: 0 0 1em;
    padding: 1em;

    color: #fff;
    background: #e74c3c;
}

label,
input,
select,
button,
textarea
{
    display: block;

    margin-bottom: 1em;
}

input[type='radio'],
input[type='checkbox']
{
    float: left;

    margin-left: 5px;
}

span.error
{
    display: block;

    margin-top: -.75em;
    margin-bottom: 1em;
}

hr
{
    margin-top: 1em;
    margin-bottom: 1em;
}

#skipLinks
{
    a
    {
        display: block;
    }
}
