// -------------------------------------
//   Theme variables
// -------------------------------------

@import
    'bourbon',
    'base/variables';

body
{
    padding: 1em;

    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;

    color: $base-font-color;

}

body,
.l-content
{
    float: none;

    width: 100%;
    margin: 0;

    background: #fff url(none);
}

#skip-links,
.l-sidebar,
.footer,
.noprint
{
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6
{
}
h1
{
    font-size: 250%;
}
h2
{
    font-size: 175%;
}
h3
{
    font-size: 135%;
}
h4
{
    font-size: 100%;
    font-variant: small-caps;
}
h5
{
    font-size: 100%;
}
h6
{
    font-size: 90%;
    font-style: italic;
}

a:link,
a:visited
{
    font-weight: bold;

    text-decoration: underline;

    color: #00c;
}
a:link:after,
a:visited:after
{
    content: ' (' attr(href) ') ';
}
