!!! 5
/[if lte IE 8] <html class="no-js lt-ie10 lt-ie9" lang="en">
/[if IE 9] <html class="no-js lt-ie10" lang="en">
<!--[if gt IE 9]><!-->
%html{:class => 'no-js', :lang => 'en'}<>
    <!--<![endif]-->

    = partial "layouts/partials/head"

    %body{:class => page_classes}

        #page

            = partial "layouts/partials/header"

            = yield

        #sticky-footer-shim

    = partial "layouts/partials/footer"

= build_reporter_fingerprint
