.content
{
    margin-bottom: $base-spacing;

    ul
    {
        font-size: $p-font-size;

        margin-bottom: $base-spacing;
        padding-left: $base-spacing;

        list-style-type: disc;
    }

    ol
    {
        font-size: $p-font-size;

        margin-bottom: $base-spacing;
        padding-left: $base-spacing;

        list-style-type: decimal;
    }
}
