.footer-centre
{
    padding: 0 10px;

    text-align: center;

    @include outer-container(100%);
    @include media($large-screen-up)
    {
        padding: 0;
    }
}

.footer-nav,
.terms-nav
{
    margin-bottom: em(10);
    li
    {
        display: inline-block;
    }
}
