.header
{
    margin-bottom: $base-spacing / 2;
    padding: $base-spacing / 2 0;

    background-color: $light-gray;
}

.header__centre
{
    @include outer-container(100%);
}

.logo
{
    width: 100px;
    margin: 0 auto;
    img
    {
        display: block;
    }
}
