%footer.footer#footer

    .footer-centre

        %ul.footer-nav
            %li
                %a{:href => "/"} Home
            %li
                %a{:href => "http://codepen.io/team/ego-creative/"} Ego Creative CodePen

        %ul.terms-nav
            %li
                %a{:href => ""} Terms Of Use
            %li
                %a{:href => ""} Privacy Policy
            %li
                %a{:href => ""} Cookie Policy

        %p.copyright
            Copyright © 2015 | All Rights Reserved

        %p.site-credit
            %span Site by
            %a{:href => "http://www.ego-creative.com/", :target => "_blank"} Ego Creative


<!--[if ! lte IE 7]><!-->

= javascript_include_tag "jquery"
= javascript_include_tag "site"

:javascript
    $(function() {


    });

= yield_content :javascripts

<!--<![endif]-->

/ BugHerd
:javascript
    (function (d, t) {
        var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
        bh.type = 'text/javascript';
        bh.src = '//www.bugherd.com/sidebarv2.js?apikey=br3x4vagj20q3iqwelw1jg';
        s.parentNode.insertBefore(bh, s);
        })(document, 'script');

/ Google Analytics
:javascript
    var _gaq=[['_setAccount','CHANGEME'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));

= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/html-inspector/0.8.2/html-inspector.js"

/ :javascript
/     HTMLInspector.inspect({
/         domRoot: "body",
/         // excludeRules: ["some-rule-name", "some-other-rule-name"],
/         excludeElements: ["svg", "iframe"],
/         // onComplete: function(errors) {
/         //     errors.forEach(function(error) {
/         //         report errors to external service...
/         //     })
/         // }
/     });
