%head
    %meta{'charset' => 'utf-8'}/
    %meta{'http-equiv' => 'x-ua-compatible', :content => 'ie=edge'}/
    %title= current_page.data.title || "The Middleman"
    %meta{:content => current_page.data.description || '', :name => "description"}/
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}/

    <!--[if ! lte IE 8]><!-->
    = stylesheet_link_tag "site", media: "screen"
    <!--<![endif]-->

    /[if lte IE 8]
        = stylesheet_link_tag "ie-basic", media: "screen"

    = stylesheet_link_tag "print", media: "print"

    = yield_content :stylesheets

    = partial "layouts/partials/favicons"

    = javascript_include_tag "modernizr"
