/[if lte IE 8]
    %p.browsehappy
        You are using an
        %strong outdated
        browser. Please
        %a{:href => "http://browsehappy.com/"} upgrade your browser
        to improve your experience.

#skip-links
    %a{href: "#content"} Skip to main content

%header#header.header

    .header__centre

        .logo
            %img{:src => "http://placehold.it/100x50/0eafff/ffffff.png", :alt => "Logo"}/
