@mixin sticky-footer(
    $footer-height,
    $root-selector: unquote('#page'),
    $root-footer-selector: unquote('#sticky-footer-shim'),
    $footer-selector: unquote('#footer'))
{
    html, body {
        height: 100%;
    }
    #{$root-selector} {
        clear: both;
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin-bottom: -$footer-height;
        #{$root-footer-selector} {
            height: $footer-height;
        }
    }
    #{$footer-selector} {
        clear: both;
        position: relative;
        height: $footer-height;
    }
}
