fieldset
{
    margin: 0;
    padding: 0;

    border: 0;
    background-color: transparent;
}

legend
{
    font-weight: 600;

    margin-bottom: $small-spacing / 2;
    padding: 0;
}

label
{
    font-weight: 600;

    display: block;

    margin-bottom: $small-spacing / 2;
}

input,
select,
textarea
{
    font-family: $base-font-family;
    font-size: $base-font-size;

    display: block;
}

#{$all-text-inputs},
select[multiple]
{
    box-sizing: border-box;
    width: 100%;
    margin-bottom: $small-spacing;
    padding: $base-spacing / 3;

    transition: border-color $base-duration $base-timing;

    border: $base-border;
    border-radius: $base-border-radius;
    background-color: $base-background-color;
    box-shadow: $form-box-shadow;

    &:hover
    {
        border-color: shade($base-border-color, 20%);
    }

    &:focus
    {
        border-color: $action-color;
        outline: none;
        box-shadow: $form-box-shadow-focus;
    }

    &:disabled
    {
        cursor: not-allowed;

        background-color: shade($base-background-color, 5%);

        &:hover
        {
            border: $base-border;
        }
    }
}

textarea
{
    resize: vertical;
}

[type='search']
{
    appearance: none;
}

[type='checkbox'],
[type='radio']
{
    display: inline;

    margin-right: $small-spacing / 2;
}

[type='file']
{
    width: 100%;
    margin-bottom: $small-spacing;
}

select
{
    width: auto;
    max-width: 100%;
    margin-bottom: $small-spacing;
}
