@import "../../bower_components/neat/app/assets/stylesheets/neat-helpers";

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
$grid-columns: 24;
$max-width: 1200px;

// Neat Breakpoints
$small-screen: 480px;
$medium-screen: 768px;
$large-screen: 960px;

// $visual-grid: true;
// $visual-grid-color: #eee;

// These are typical mobile first break points and the prefered breakpoint. For
// example, $medium-screen-up could be used to set a two column layout for
// everything above 768px
$small-screen-up: new-breakpoint(min-width em($small-screen) 24);
$medium-screen-up: new-breakpoint(min-width em($medium-screen) 24);
$large-screen-up: new-breakpoint(min-width em($large-screen) 24);

// These are 'desktop first' and should be used to avoid horrendous resets
// needed to overwrite for desktop if using a mobile first approach. An
// example of this can be seen in the _smartmenu.scss component - search for:
// @include media($medium-screen-down)
// Note, that if we used the mobile first breakpoints above, we'd need to reset
// a fair few styles - backgrounds, colors etc...
// Obviously CSS should be shared and inherited between the breakpoints when
// appropriate, we can even reset styles (width: 100% on mobile, to width: auto
// on desktop) used when it's manageable and common sense dictates
$small-screen-down: new-breakpoint(max-width em($small-screen - 1) 24);
$medium-screen-down: new-breakpoint(max-width em($medium-screen - 1) 24);
$large-screen-down: new-breakpoint(max-width em($large-screen - 1) 24);


// These inbetween breakpoints should be used sparingly
$between-large-and-small-screen: new-breakpoint(max-width em($large-screen - 1) min-width em($small-screen));
$between-large-and-medium-screen: new-breakpoint(max-width em($large-screen - 1) min-width em($medium-screen));
