/**
 * All layout classes and associated media queries should be added to this file.
 *
 * All layouts should take the mobile first approach, and utalise media queries
 * to adapt for larger devices.
 */

html
{
    box-sizing: border-box;
}

*,
*::before,
*::after
{
    box-sizing: inherit;
}

/**
 * Default mobile spans for all layouts
 */

.l-column-1,
.l-column-2
{
    @include outer-container;

    margin-bottom: $base-spacing * 2;
    padding: 0 $base-spacing;

    .l-preface,
    .l-content,
    .l-sidebar,
    .l-postface
    {
        @include span-columns(24);

        margin-bottom: $base-spacing;
    }

    @include media($medium-screen-up)
    {
    }
}

.header,
.footer
{
    padding: 0 $base-spacing;
}

/**
 * One Column spans for devices above mobile
 */

.l-column-1
{
    .l-content
    {
        @include media($medium-screen-up)
        {
            @include span-columns(24);
        }
    }
}

/**
 * Two Column spans for devices above mobile
 */

.l-column-2
{
    .l-content
    {
        @include media($medium-screen-up)
        {
            @include span-columns(17);
        }
    }
    .l-sidebar
    {
        @include media($medium-screen-up)
        {
            @include span-columns(6);
            @include shift(1);
            @include omega();
        }
    }
}
