// Skip navigation links - will work with the tab key
#skip-links a
{
    position: absolute;
    top: -500px;
    left: 0;

    display: block;
    overflow: hidden;

    width: 1px;
    height: 1px;
    padding: 10px;

    background: #fff;

    &:active,
    &:focus
    {
        position: static;

        width: auto;
        height: auto;
    }
}
