table
{
    width: 100%;
    margin: $small-spacing 0;

    table-layout: fixed;
    border-collapse: collapse;
}

th
{
    font-weight: 600;

    padding: $small-spacing 0;

    text-align: left;

    border-bottom: 1px solid shade($base-border-color, 25%);
}

td
{
    padding: $small-spacing 0;

    border-bottom: $base-border;
}

tr,
td,
th
{
    vertical-align: middle;
}
