body
{
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;

    color: $base-font-color;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: $heading-font-family;
    font-size: modular-scale(1);
    font-weight: normal;
    line-height: $heading-line-height;

    margin: 0 0 $small-spacing;
}

p
{
    font-size: $p-font-size;

    margin: 0 0 $small-spacing;
}

a
{
    transition: color $base-duration $base-timing;
    text-decoration: none;

    color: $action-color;

    &:active,
    &:focus,
    &:hover
    {
        color: shade($action-color, 25%);
    }
}

hr
{
    margin: $base-spacing 0;

    border-top: 0;
    border-right: 0;
    border-bottom: $base-border;
    border-left: 0;
}

b,
strong
{
    font-weight: normal;
}
