// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

$modular-scale-ratio: $perfect-fourth;

$h1-font-size: modular-scale(6);
$h2-font-size: modular-scale(5);
$h3-font-size: modular-scale(4);
$h4-font-size: modular-scale(3);
$h5-font-size: modular-scale(2);
$h6-font-size: modular-scale(1);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 24px;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Hierarchy Colors
$primary-color: $action-color;
$secondary-color: tint($action-color, 40);

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, .06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
$base-transition: $base-duration $base-timing;
