---
title: Home
---

.l-column-1

    .l-content#content

        %h1 Lorem ipsum dolor sit amet
        %h2 Consectetur adipisicing elit

        %p necessitatibus quos aut voluptate enim maiores ducimus. Ducimus, voluptatem, voluptate.

        .remove-me
            %p See Readme
            %p
                %a{:href => "type.html"} See Type

        %h2 Retina

        .example-bg-image

        %img.example-image{:src => "images/example-logo.png", :alt => "", :data => {:at2x => "images/example-logo@2x.png"}}/

.l-column-2

    .l-content

        %h2 Content

    .l-sidebar

        %h2 Sidebar

/ This javascript block that is rendered on the footer within the layout for this specicifc template

/ - content_for :javascripts do

/     = javascript_include_tag "script"

/     :javascript
/         (function(){

/         })();
