---
title: Home
---

.l-column-1

    .l-content

        .content

            %h1 HTML Ipsum Presents
            %p
                %strong Pellentesque habitant morbi tristique
                senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                %em Aenean ultricies mi vitae est.
                Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
                %code
                    commodo vitae
                    %a{:href => "#"} Donec non enim
                in turpis pulvinar facilisis. Ut felis.
            %h2 Header Level 2
            %ol
                %li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                %li Aliquam tincidunt mauris eu risus.
            %blockquote
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
            %h3 Header Level 3
            %ul
                %li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                %li Aliquam tincidunt mauris eu risus.
            %h4 Header Level 4
            %pre
                %code
                    :preserve

                        #header h1 a {
                            display: block;
                            width: 300px;
                            height: 80px;
                        }
            %h5 Header Level 5
            %table
                %thead
                    %tr
                        %th Lorem
                        %th Lorem
                        %th Lorem
                        %th Lorem
                %tbody
                    %tr
                        %td Lorem
                        %td Lorem
                        %td Lorem
                        %td Lorem
                    %tr
                        %td Lorem
                        %td Lorem
                        %td Lorem
                        %td Lorem
                    %tr
                        %td Lorem
                        %td Lorem
                        %td Lorem
                        %td Lorem

            %h6 Header Level 6
            %dl
                %dt Definition list
                %dd
                Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
                %dt Lorem ipsum dolor sit amet
                %dd
                Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.

            %button.button--primary Primary Button

            %button.button--secondary Secondary Button

        %h3 Fontello Icons

        %ul.fontello-grid
            %li
                %span.icon-music{:title => "icon-music"}
            %li
                %span.icon-info-circled{:title => "icon-info-circled"}
            %li
                %span.icon-train{:title => "icon-train"}
            %li
                %span.icon-subway{:title => "icon-subway"}
            %li
                %span.icon-ship{:title => "icon-ship"}
            %li
                %span.icon-money{:title => "icon-money"}
            %li
                %span.icon-euro{:title => "icon-euro"}
            %li
                %span.icon-pound{:title => "icon-pound"}
            %li
                %span.icon-dollar{:title => "icon-dollar"}
            %li
                %span.icon-rupee{:title => "icon-rupee"}
            %li
                %span.icon-yen{:title => "icon-yen"}
            %li
                %span.icon-rouble{:title => "icon-rouble"}
            %li
                %span.icon-shekel{:title => "icon-shekel"}
            %li
                %span.icon-try{:title => "icon-try"}
            %li
                %span.icon-won{:title => "icon-won"}
            %li
                %span.icon-bitcoin{:title => "icon-bitcoin"}
            %li
                %span.icon-viacoin{:title => "icon-viacoin"}
            %li
                %span.icon-sort{:title => "icon-sort"}
            %li
                %span.icon-sort-down{:title => "icon-sort-down"}
            %li
                %span.icon-sort-up{:title => "icon-sort-up"}
            %li
                %span.icon-sort-alt-up{:title => "icon-sort-alt-up"}
            %li
                %span.icon-sort-alt-down{:title => "icon-sort-alt-down"}
            %li
                %span.icon-sort-name-up{:title => "icon-sort-name-up"}
            %li
                %span.icon-sort-name-down{:title => "icon-sort-name-down"}
            %li
                %span.icon-sort-number-up{:title => "icon-sort-number-up"}
            %li
                %span.icon-sort-number-down{:title => "icon-sort-number-down"}
            %li
                %span.icon-hammer{:title => "icon-hammer"}
            %li
                %span.icon-gauge{:title => "icon-gauge"}
            %li
                %span.icon-sitemap{:title => "icon-sitemap"}
            %li
                %span.icon-spinner{:title => "icon-spinner"}
            %li
                %span.icon-coffee{:title => "icon-coffee"}
            %li
                %span.icon-food{:title => "icon-food"}
            %li
                %span.icon-beer{:title => "icon-beer"}
            %li
                %span.icon-user-md{:title => "icon-user-md"}
            %li
                %span.icon-stethoscope{:title => "icon-stethoscope"}
            %li
                %span.icon-heartbeat{:title => "icon-heartbeat"}
            %li
                %span.icon-ambulance{:title => "icon-ambulance"}
            %li
                %span.icon-medkit{:title => "icon-medkit"}
            %li
                %span.icon-h-sigh{:title => "icon-h-sigh"}
            %li
                %span.icon-bed{:title => "icon-bed"}
            %li
                %span.icon-hospital{:title => "icon-hospital"}
            %li
                %span.icon-building{:title => "icon-building"}
            %li
                %span.icon-building-filled{:title => "icon-building-filled"}
            %li
                %span.icon-bank{:title => "icon-bank"}
            %li
                %span.icon-smile{:title => "icon-smile"}
            %li
                %span.icon-frown{:title => "icon-frown"}
            %li
                %span.icon-meh{:title => "icon-meh"}
            %li
                %span.icon-anchor{:title => "icon-anchor"}
            %li
                %span.icon-terminal{:title => "icon-terminal"}
            %li
                %span.icon-eraser{:title => "icon-eraser"}
            %li
                %span.icon-puzzle{:title => "icon-puzzle"}
            %li
                %span.icon-shield{:title => "icon-shield"}
            %li
                %span.icon-extinguisher{:title => "icon-extinguisher"}
            %li
                %span.icon-bullseye{:title => "icon-bullseye"}
            %li
                %span.icon-wheelchair{:title => "icon-wheelchair"}
            %li
                %span.icon-language{:title => "icon-language"}
            %li
                %span.icon-graduation-cap{:title => "icon-graduation-cap"}
            %li
                %span.icon-paw{:title => "icon-paw"}
            %li
                %span.icon-spoon{:title => "icon-spoon"}
            %li
                %span.icon-cube{:title => "icon-cube"}
            %li
                %span.icon-cubes{:title => "icon-cubes"}
            %li
                %span.icon-recycle{:title => "icon-recycle"}
            %li
                %span.icon-tree{:title => "icon-tree"}
            %li
                %span.icon-database{:title => "icon-database"}
            %li
                %span.icon-server{:title => "icon-server"}
            %li
                %span.icon-lifebuoy{:title => "icon-lifebuoy"}
            %li
                %span.icon-rebel{:title => "icon-rebel"}
            %li
                %span.icon-empire{:title => "icon-empire"}
            %li
                %span.icon-bomb{:title => "icon-bomb"}
            %li
                %span.icon-soccer-ball{:title => "icon-soccer-ball"}
            %li
                %span.icon-tty{:title => "icon-tty"}
            %li
                %span.icon-binoculars{:title => "icon-binoculars"}
            %li
                %span.icon-plug{:title => "icon-plug"}
            %li
                %span.icon-newspaper{:title => "icon-newspaper"}
            %li
                %span.icon-calc{:title => "icon-calc"}
            %li
                %span.icon-copyright{:title => "icon-copyright"}
            %li
                %span.icon-at{:title => "icon-at"}
            %li
                %span.icon-eyedropper{:title => "icon-eyedropper"}
            %li
                %span.icon-brush{:title => "icon-brush"}
            %li
                %span.icon-birthday{:title => "icon-birthday"}
            %li
                %span.icon-diamond{:title => "icon-diamond"}
            %li
                %span.icon-street-view{:title => "icon-street-view"}
            %li
                %span.icon-venus{:title => "icon-venus"}
            %li
                %span.icon-mars{:title => "icon-mars"}
            %li
                %span.icon-mercury{:title => "icon-mercury"}
            %li
                %span.icon-transgender{:title => "icon-transgender"}
            %li
                %span.icon-transgender-alt{:title => "icon-transgender-alt"}
            %li
                %span.icon-venus-double{:title => "icon-venus-double"}
            %li
                %span.icon-mars-double{:title => "icon-mars-double"}
            %li
                %span.icon-venus-mars{:title => "icon-venus-mars"}
            %li
                %span.icon-mars-stroke{:title => "icon-mars-stroke"}
            %li
                %span.icon-mars-stroke-v{:title => "icon-mars-stroke-v"}
            %li
                %span.icon-mars-stroke-h{:title => "icon-mars-stroke-h"}
            %li
                %span.icon-neuter{:title => "icon-neuter"}
            %li
                %span.icon-cc-visa{:title => "icon-cc-visa"}
            %li
                %span.icon-cc-mastercard{:title => "icon-cc-mastercard"}
            %li
                %span.icon-cc-discover{:title => "icon-cc-discover"}
            %li
                %span.icon-cc-amex{:title => "icon-cc-amex"}
            %li
                %span.icon-cc-paypal{:title => "icon-cc-paypal"}
            %li
                %span.icon-cc-stripe{:title => "icon-cc-stripe"}
            %li
                %span.icon-adn{:title => "icon-adn"}
            %li
                %span.icon-android{:title => "icon-android"}
            %li
                %span.icon-angellist{:title => "icon-angellist"}
            %li
                %span.icon-apple{:title => "icon-apple"}
            %li
                %span.icon-behance{:title => "icon-behance"}
            %li
                %span.icon-behance-squared{:title => "icon-behance-squared"}
            %li
                %span.icon-bitbucket{:title => "icon-bitbucket"}
            %li
                %span.icon-bitbucket-squared{:title => "icon-bitbucket-squared"}
            %li
                %span.icon-buysellads{:title => "icon-buysellads"}
            %li
                %span.icon-cc{:title => "icon-cc"}
            %li
                %span.icon-codeopen{:title => "icon-codeopen"}
            %li
                %span.icon-connectdevelop{:title => "icon-connectdevelop"}
            %li
                %span.icon-css3{:title => "icon-css3"}
            %li
                %span.icon-dashcube{:title => "icon-dashcube"}
            %li
                %span.icon-delicious{:title => "icon-delicious"}
            %li
                %span.icon-deviantart{:title => "icon-deviantart"}
            %li
                %span.icon-digg{:title => "icon-digg"}
            %li
                %span.icon-dribbble{:title => "icon-dribbble"}
            %li
                %span.icon-dropbox{:title => "icon-dropbox"}
            %li
                %span.icon-drupal{:title => "icon-drupal"}
            %li
                %span.icon-facebook{:title => "icon-facebook"}
            %li
                %span.icon-facebook-squared{:title => "icon-facebook-squared"}
            %li
                %span.icon-facebook-official{:title => "icon-facebook-official"}
            %li
                %span.icon-flickr{:title => "icon-flickr"}
            %li
                %span.icon-forumbee{:title => "icon-forumbee"}
            %li
                %span.icon-foursquare{:title => "icon-foursquare"}
            %li
                %span.icon-git-squared{:title => "icon-git-squared"}
            %li
                %span.icon-git{:title => "icon-git"}
            %li
                %span.icon-github{:title => "icon-github"}
            %li
                %span.icon-github-squared{:title => "icon-github-squared"}
            %li
                %span.icon-github-circled{:title => "icon-github-circled"}
            %li
                %span.icon-gittip{:title => "icon-gittip"}
            %li
                %span.icon-google{:title => "icon-google"}
            %li
                %span.icon-gplus{:title => "icon-gplus"}
            %li
                %span.icon-gplus-squared{:title => "icon-gplus-squared"}
            %li
                %span.icon-gwallet{:title => "icon-gwallet"}
            %li
                %span.icon-hacker-news{:title => "icon-hacker-news"}
            %li
                %span.icon-html5{:title => "icon-html5"}
            %li
                %span.icon-instagram{:title => "icon-instagram"}
            %li
                %span.icon-ioxhost{:title => "icon-ioxhost"}
            %li
                %span.icon-joomla{:title => "icon-joomla"}
            %li
                %span.icon-jsfiddle{:title => "icon-jsfiddle"}
            %li
                %span.icon-lastfm{:title => "icon-lastfm"}
            %li
                %span.icon-lastfm-squared{:title => "icon-lastfm-squared"}
            %li
                %span.icon-leanpub{:title => "icon-leanpub"}
            %li
                %span.icon-linkedin-squared{:title => "icon-linkedin-squared"}
            %li
                %span.icon-linux{:title => "icon-linux"}
            %li
                %span.icon-linkedin{:title => "icon-linkedin"}
            %li
                %span.icon-maxcdn{:title => "icon-maxcdn"}
            %li
                %span.icon-meanpath{:title => "icon-meanpath"}
            %li
                %span.icon-openid{:title => "icon-openid"}
            %li
                %span.icon-pagelines{:title => "icon-pagelines"}
            %li
                %span.icon-paypal{:title => "icon-paypal"}
            %li
                %span.icon-pied-piper-squared{:title => "icon-pied-piper-squared"}
            %li
                %span.icon-pied-piper-alt{:title => "icon-pied-piper-alt"}
            %li
                %span.icon-pinterest{:title => "icon-pinterest"}
            %li
                %span.icon-pinterest-circled{:title => "icon-pinterest-circled"}
            %li
                %span.icon-pinterest-squared{:title => "icon-pinterest-squared"}
            %li
                %span.icon-qq{:title => "icon-qq"}
            %li
                %span.icon-reddit{:title => "icon-reddit"}
            %li
                %span.icon-reddit-squared{:title => "icon-reddit-squared"}
            %li
                %span.icon-renren{:title => "icon-renren"}
            %li
                %span.icon-sellsy{:title => "icon-sellsy"}
            %li
                %span.icon-shirtsinbulk{:title => "icon-shirtsinbulk"}
            %li
                %span.icon-simplybuilt{:title => "icon-simplybuilt"}
            %li
                %span.icon-skyatlas{:title => "icon-skyatlas"}
            %li
                %span.icon-skype{:title => "icon-skype"}
            %li
                %span.icon-slack{:title => "icon-slack"}
            %li
                %span.icon-slideshare{:title => "icon-slideshare"}
            %li
                %span.icon-soundcloud{:title => "icon-soundcloud"}
            %li
                %span.icon-spotify{:title => "icon-spotify"}
            %li
                %span.icon-stackexchange{:title => "icon-stackexchange"}
            %li
                %span.icon-stackoverflow{:title => "icon-stackoverflow"}
            %li
                %span.icon-steam{:title => "icon-steam"}
            %li
                %span.icon-steam-squared{:title => "icon-steam-squared"}
            %li
                %span.icon-stumbleupon{:title => "icon-stumbleupon"}
            %li
                %span.icon-stumbleupon-circled{:title => "icon-stumbleupon-circled"}
            %li
                %span.icon-tencent-weibo{:title => "icon-tencent-weibo"}
            %li
                %span.icon-trello{:title => "icon-trello"}
            %li
                %span.icon-tumblr{:title => "icon-tumblr"}
            %li
                %span.icon-tumblr-squared{:title => "icon-tumblr-squared"}
            %li
                %span.icon-twitch{:title => "icon-twitch"}
            %li
                %span.icon-twitter-squared{:title => "icon-twitter-squared"}
            %li
                %span.icon-twitter{:title => "icon-twitter"}
            %li
                %span.icon-vimeo-squared{:title => "icon-vimeo-squared"}
            %li
                %span.icon-vine{:title => "icon-vine"}
            %li
                %span.icon-vkontakte{:title => "icon-vkontakte"}
            %li
                %span.icon-whatsapp{:title => "icon-whatsapp"}
            %li
                %span.icon-wechat{:title => "icon-wechat"}
            %li
                %span.icon-weibo{:title => "icon-weibo"}
            %li
                %span.icon-windows{:title => "icon-windows"}
            %li
                %span.icon-wordpress{:title => "icon-wordpress"}
            %li
                %span.icon-xing{:title => "icon-xing"}
            %li
                %span.icon-xing-squared{:title => "icon-xing-squared"}
            %li
                %span.icon-yelp{:title => "icon-yelp"}
            %li
                %span.icon-youtube{:title => "icon-youtube"}
            %li
                %span.icon-yahoo{:title => "icon-yahoo"}
            %li
                %span.icon-youtube-squared{:title => "icon-youtube-squared"}
            %li
                %span.icon-youtube-play{:title => "icon-youtube-play"}
            %li
                %span.icon-blank{:title => "icon-blank"}
            %li
                %span.icon-lemon{:title => "icon-lemon"}
            %li
                %span.icon-calendar-empty{:title => "icon-calendar-empty"}
            %li
                %span.icon-login{:title => "icon-login"}
            %li
                %span.icon-logout{:title => "icon-logout"}
            %li
                %span.icon-mic{:title => "icon-mic"}
            %li
                %span.icon-mute{:title => "icon-mute"}
            %li
                %span.icon-volume-off{:title => "icon-volume-off"}
            %li
                %span.icon-volume-down{:title => "icon-volume-down"}
            %li
                %span.icon-volume-up{:title => "icon-volume-up"}
            %li
                %span.icon-headphones{:title => "icon-headphones"}
            %li
                %span.icon-clock{:title => "icon-clock"}
            %li
                %span.icon-lightbulb{:title => "icon-lightbulb"}
            %li
                %span.icon-block{:title => "icon-block"}
            %li
                %span.icon-resize-full{:title => "icon-resize-full"}
            %li
                %span.icon-resize-full-alt{:title => "icon-resize-full-alt"}
            %li
                %span.icon-resize-small{:title => "icon-resize-small"}
            %li
                %span.icon-resize-vertical{:title => "icon-resize-vertical"}
            %li
                %span.icon-resize-horizontal{:title => "icon-resize-horizontal"}
            %li
                %span.icon-move{:title => "icon-move"}
            %li
                %span.icon-zoom-in{:title => "icon-zoom-in"}
            %li
                %span.icon-zoom-out{:title => "icon-zoom-out"}
            %li
                %span.icon-down-circled2{:title => "icon-down-circled2"}
            %li
                %span.icon-up-circled2{:title => "icon-up-circled2"}
            %li
                %span.icon-left-circled2{:title => "icon-left-circled2"}
            %li
                %span.icon-right-circled2{:title => "icon-right-circled2"}
            %li
                %span.icon-down-dir{:title => "icon-down-dir"}
            %li
                %span.icon-up-dir{:title => "icon-up-dir"}
            %li
                %span.icon-left-dir{:title => "icon-left-dir"}
            %li
                %span.icon-right-dir{:title => "icon-right-dir"}
            %li
                %span.icon-down-open{:title => "icon-down-open"}
            %li
                %span.icon-left-open{:title => "icon-left-open"}
            %li
                %span.icon-right-open{:title => "icon-right-open"}
            %li
                %span.icon-up-open{:title => "icon-up-open"}
            %li
                %span.icon-angle-left{:title => "icon-angle-left"}
            %li
                %span.icon-angle-right{:title => "icon-angle-right"}
            %li
                %span.icon-angle-up{:title => "icon-angle-up"}
            %li
                %span.icon-angle-down{:title => "icon-angle-down"}
            %li
                %span.icon-angle-circled-left{:title => "icon-angle-circled-left"}
            %li
                %span.icon-angle-circled-right{:title => "icon-angle-circled-right"}
            %li
                %span.icon-angle-circled-up{:title => "icon-angle-circled-up"}
            %li
                %span.icon-angle-circled-down{:title => "icon-angle-circled-down"}
            %li
                %span.icon-angle-double-left{:title => "icon-angle-double-left"}
            %li
                %span.icon-angle-double-right{:title => "icon-angle-double-right"}
            %li
                %span.icon-angle-double-up{:title => "icon-angle-double-up"}
            %li
                %span.icon-angle-double-down{:title => "icon-angle-double-down"}
            %li
                %span.icon-down{:title => "icon-down"}
            %li
                %span.icon-left{:title => "icon-left"}
            %li
                %span.icon-right{:title => "icon-right"}
            %li
                %span.icon-up{:title => "icon-up"}
            %li
                %span.icon-down-big{:title => "icon-down-big"}
            %li
                %span.icon-left-big{:title => "icon-left-big"}
            %li
                %span.icon-right-big{:title => "icon-right-big"}
            %li
                %span.icon-up-big{:title => "icon-up-big"}
            %li
                %span.icon-right-hand{:title => "icon-right-hand"}
            %li
                %span.icon-left-hand{:title => "icon-left-hand"}
            %li
                %span.icon-up-hand{:title => "icon-up-hand"}
            %li
                %span.icon-down-hand{:title => "icon-down-hand"}
            %li
                %span.icon-left-circled{:title => "icon-left-circled"}
            %li
                %span.icon-right-circled{:title => "icon-right-circled"}
            %li
                %span.icon-up-circled{:title => "icon-up-circled"}
            %li
                %span.icon-down-circled{:title => "icon-down-circled"}
            %li
                %span.icon-cw{:title => "icon-cw"}
            %li
                %span.icon-ccw{:title => "icon-ccw"}
            %li
                %span.icon-arrows-cw{:title => "icon-arrows-cw"}
            %li
                %span.icon-level-up{:title => "icon-level-up"}
            %li
                %span.icon-level-down{:title => "icon-level-down"}
            %li
                %span.icon-shuffle{:title => "icon-shuffle"}
            %li
                %span.icon-exchange{:title => "icon-exchange"}
            %li
                %span.icon-history{:title => "icon-history"}
            %li
                %span.icon-expand{:title => "icon-expand"}
            %li
                %span.icon-collapse{:title => "icon-collapse"}
            %li
                %span.icon-expand-right{:title => "icon-expand-right"}
            %li
                %span.icon-collapse-left{:title => "icon-collapse-left"}
            %li
                %span.icon-play{:title => "icon-play"}
            %li
                %span.icon-play-circled{:title => "icon-play-circled"}
            %li
                %span.icon-play-circled2{:title => "icon-play-circled2"}
            %li
                %span.icon-stop{:title => "icon-stop"}
            %li
                %span.icon-pause{:title => "icon-pause"}
            %li
                %span.icon-to-end{:title => "icon-to-end"}
            %li
                %span.icon-to-end-alt{:title => "icon-to-end-alt"}
            %li
                %span.icon-to-start{:title => "icon-to-start"}
            %li
                %span.icon-to-start-alt{:title => "icon-to-start-alt"}
            %li
                %span.icon-fast-fw{:title => "icon-fast-fw"}
            %li
                %span.icon-fast-bw{:title => "icon-fast-bw"}
            %li
                %span.icon-eject{:title => "icon-eject"}
            %li
                %span.icon-target{:title => "icon-target"}
            %li
                %span.icon-signal{:title => "icon-signal"}
            %li
                %span.icon-wifi{:title => "icon-wifi"}
            %li
                %span.icon-award{:title => "icon-award"}
            %li
                %span.icon-desktop{:title => "icon-desktop"}
            %li
                %span.icon-laptop{:title => "icon-laptop"}
            %li
                %span.icon-tablet{:title => "icon-tablet"}
            %li
                %span.icon-mobile{:title => "icon-mobile"}
            %li
                %span.icon-inbox{:title => "icon-inbox"}
            %li
                %span.icon-globe{:title => "icon-globe"}
            %li
                %span.icon-sun{:title => "icon-sun"}
            %li
                %span.icon-cloud{:title => "icon-cloud"}
            %li
                %span.icon-flash{:title => "icon-flash"}
            %li
                %span.icon-moon{:title => "icon-moon"}
            %li
                %span.icon-umbrella{:title => "icon-umbrella"}
            %li
                %span.icon-flight{:title => "icon-flight"}
            %li
                %span.icon-fighter-jet{:title => "icon-fighter-jet"}
            %li
                %span.icon-paper-plane{:title => "icon-paper-plane"}
            %li
                %span.icon-paper-plane-empty{:title => "icon-paper-plane-empty"}
            %li
                %span.icon-space-shuttle{:title => "icon-space-shuttle"}
            %li
                %span.icon-leaf{:title => "icon-leaf"}
            %li
                %span.icon-font{:title => "icon-font"}
            %li
                %span.icon-bold{:title => "icon-bold"}
            %li
                %span.icon-medium{:title => "icon-medium"}
            %li
                %span.icon-italic{:title => "icon-italic"}
            %li
                %span.icon-header{:title => "icon-header"}
            %li
                %span.icon-paragraph{:title => "icon-paragraph"}
            %li
                %span.icon-text-height{:title => "icon-text-height"}
            %li
                %span.icon-text-width{:title => "icon-text-width"}
            %li
                %span.icon-align-left{:title => "icon-align-left"}
            %li
                %span.icon-align-center{:title => "icon-align-center"}
            %li
                %span.icon-align-right{:title => "icon-align-right"}
            %li
                %span.icon-align-justify{:title => "icon-align-justify"}
            %li
                %span.icon-list{:title => "icon-list"}
            %li
                %span.icon-indent-left{:title => "icon-indent-left"}
            %li
                %span.icon-indent-right{:title => "icon-indent-right"}
            %li
                %span.icon-list-bullet{:title => "icon-list-bullet"}
            %li
                %span.icon-list-numbered{:title => "icon-list-numbered"}
            %li
                %span.icon-strike{:title => "icon-strike"}
            %li
                %span.icon-underline{:title => "icon-underline"}
            %li
                %span.icon-superscript{:title => "icon-superscript"}
            %li
                %span.icon-subscript{:title => "icon-subscript"}
            %li
                %span.icon-table{:title => "icon-table"}
            %li
                %span.icon-columns{:title => "icon-columns"}
            %li
                %span.icon-crop{:title => "icon-crop"}
            %li
                %span.icon-scissors{:title => "icon-scissors"}
            %li
                %span.icon-paste{:title => "icon-paste"}
            %li
                %span.icon-briefcase{:title => "icon-briefcase"}
            %li
                %span.icon-suitcase{:title => "icon-suitcase"}
            %li
                %span.icon-ellipsis{:title => "icon-ellipsis"}
            %li
                %span.icon-ellipsis-vert{:title => "icon-ellipsis-vert"}
            %li
                %span.icon-off{:title => "icon-off"}
            %li
                %span.icon-road{:title => "icon-road"}
            %li
                %span.icon-list-alt{:title => "icon-list-alt"}
            %li
                %span.icon-qrcode{:title => "icon-qrcode"}
            %li
                %span.icon-barcode{:title => "icon-barcode"}
            %li
                %span.icon-book{:title => "icon-book"}
            %li
                %span.icon-ajust{:title => "icon-ajust"}
            %li
                %span.icon-tint{:title => "icon-tint"}
            %li
                %span.icon-toggle-off{:title => "icon-toggle-off"}
            %li
                %span.icon-toggle-on{:title => "icon-toggle-on"}
            %li
                %span.icon-check{:title => "icon-check"}
            %li
                %span.icon-check-empty{:title => "icon-check-empty"}
            %li
                %span.icon-circle{:title => "icon-circle"}
            %li
                %span.icon-circle-empty{:title => "icon-circle-empty"}
            %li
                %span.icon-circle-thin{:title => "icon-circle-thin"}
            %li
                %span.icon-circle-notch{:title => "icon-circle-notch"}
            %li
                %span.icon-dot-circled{:title => "icon-dot-circled"}
            %li
                %span.icon-asterisk{:title => "icon-asterisk"}
            %li
                %span.icon-gift{:title => "icon-gift"}
            %li
                %span.icon-fire{:title => "icon-fire"}
            %li
                %span.icon-magnet{:title => "icon-magnet"}
            %li
                %span.icon-chart-bar{:title => "icon-chart-bar"}
            %li
                %span.icon-chart-area{:title => "icon-chart-area"}
            %li
                %span.icon-chart-pie{:title => "icon-chart-pie"}
            %li
                %span.icon-chart-line{:title => "icon-chart-line"}
            %li
                %span.icon-ticket{:title => "icon-ticket"}
            %li
                %span.icon-credit-card{:title => "icon-credit-card"}
            %li
                %span.icon-floppy{:title => "icon-floppy"}
            %li
                %span.icon-megaphone{:title => "icon-megaphone"}
            %li
                %span.icon-hdd{:title => "icon-hdd"}
            %li
                %span.icon-key{:title => "icon-key"}
            %li
                %span.icon-fork{:title => "icon-fork"}
            %li
                %span.icon-rocket{:title => "icon-rocket"}
            %li
                %span.icon-bug{:title => "icon-bug"}
            %li
                %span.icon-certificate{:title => "icon-certificate"}
            %li
                %span.icon-tasks{:title => "icon-tasks"}
            %li
                %span.icon-filter{:title => "icon-filter"}
            %li
                %span.icon-beaker{:title => "icon-beaker"}
            %li
                %span.icon-magic{:title => "icon-magic"}
            %li
                %span.icon-cab{:title => "icon-cab"}
            %li
                %span.icon-taxi{:title => "icon-taxi"}
            %li
                %span.icon-truck{:title => "icon-truck"}
            %li
                %span.icon-bus{:title => "icon-bus"}
            %li
                %span.icon-bicycle{:title => "icon-bicycle"}
            %li
                %span.icon-motorcycle{:title => "icon-motorcycle"}
            %li
                %span.icon-search{:title => "icon-search"}
            %li
                %span.icon-mail{:title => "icon-mail"}
            %li
                %span.icon-mail-alt{:title => "icon-mail-alt"}
            %li
                %span.icon-mail-squared{:title => "icon-mail-squared"}
            %li
                %span.icon-heart{:title => "icon-heart"}
            %li
                %span.icon-heart-empty{:title => "icon-heart-empty"}
            %li
                %span.icon-star{:title => "icon-star"}
            %li
                %span.icon-star-empty{:title => "icon-star-empty"}
            %li
                %span.icon-star-half{:title => "icon-star-half"}
            %li
                %span.icon-star-half-alt{:title => "icon-star-half-alt"}
            %li
                %span.icon-user{:title => "icon-user"}
            %li
                %span.icon-user-plus{:title => "icon-user-plus"}
            %li
                %span.icon-user-times{:title => "icon-user-times"}
            %li
                %span.icon-users{:title => "icon-users"}
            %li
                %span.icon-male{:title => "icon-male"}
            %li
                %span.icon-female{:title => "icon-female"}
            %li
                %span.icon-child{:title => "icon-child"}
            %li
                %span.icon-user-secret{:title => "icon-user-secret"}
            %li
                %span.icon-video{:title => "icon-video"}
            %li
                %span.icon-videocam{:title => "icon-videocam"}
            %li
                %span.icon-picture{:title => "icon-picture"}
            %li
                %span.icon-camera{:title => "icon-camera"}
            %li
                %span.icon-camera-alt{:title => "icon-camera-alt"}
            %li
                %span.icon-th-large{:title => "icon-th-large"}
            %li
                %span.icon-th{:title => "icon-th"}
            %li
                %span.icon-th-list{:title => "icon-th-list"}
            %li
                %span.icon-ok{:title => "icon-ok"}
            %li
                %span.icon-ok-circled{:title => "icon-ok-circled"}
            %li
                %span.icon-ok-circled2{:title => "icon-ok-circled2"}
            %li
                %span.icon-ok-squared{:title => "icon-ok-squared"}
            %li
                %span.icon-cancel{:title => "icon-cancel"}
            %li
                %span.icon-cancel-circled{:title => "icon-cancel-circled"}
            %li
                %span.icon-cancel-circled2{:title => "icon-cancel-circled2"}
            %li
                %span.icon-plus{:title => "icon-plus"}
            %li
                %span.icon-plus-circled{:title => "icon-plus-circled"}
            %li
                %span.icon-plus-squared{:title => "icon-plus-squared"}
            %li
                %span.icon-plus-squared-alt{:title => "icon-plus-squared-alt"}
            %li
                %span.icon-minus{:title => "icon-minus"}
            %li
                %span.icon-minus-circled{:title => "icon-minus-circled"}
            %li
                %span.icon-minus-squared{:title => "icon-minus-squared"}
            %li
                %span.icon-minus-squared-alt{:title => "icon-minus-squared-alt"}
            %li
                %span.icon-help{:title => "icon-help"}
            %li
                %span.icon-info{:title => "icon-info"}
            %li
                %span.icon-home{:title => "icon-home"}
            %li
                %span.icon-link{:title => "icon-link"}
            %li
                %span.icon-unlink{:title => "icon-unlink"}
            %li
                %span.icon-link-ext{:title => "icon-link-ext"}
            %li
                %span.icon-link-ext-alt{:title => "icon-link-ext-alt"}
            %li
                %span.icon-attach{:title => "icon-attach"}
            %li
                %span.icon-lock{:title => "icon-lock"}
            %li
                %span.icon-lock-open{:title => "icon-lock-open"}
            %li
                %span.icon-lock-open-alt{:title => "icon-lock-open-alt"}
            %li
                %span.icon-pin{:title => "icon-pin"}
            %li
                %span.icon-eye{:title => "icon-eye"}
            %li
                %span.icon-eye-off{:title => "icon-eye-off"}
            %li
                %span.icon-tag{:title => "icon-tag"}
            %li
                %span.icon-tags{:title => "icon-tags"}
            %li
                %span.icon-bookmark{:title => "icon-bookmark"}
            %li
                %span.icon-bookmark-empty{:title => "icon-bookmark-empty"}
            %li
                %span.icon-flag{:title => "icon-flag"}
            %li
                %span.icon-flag-empty{:title => "icon-flag-empty"}
            %li
                %span.icon-flag-checkered{:title => "icon-flag-checkered"}
            %li
                %span.icon-thumbs-up{:title => "icon-thumbs-up"}
            %li
                %span.icon-thumbs-down{:title => "icon-thumbs-down"}
            %li
                %span.icon-thumbs-up-alt{:title => "icon-thumbs-up-alt"}
            %li
                %span.icon-thumbs-down-alt{:title => "icon-thumbs-down-alt"}
            %li
                %span.icon-download{:title => "icon-download"}
            %li
                %span.icon-upload{:title => "icon-upload"}
            %li
                %span.icon-download-cloud{:title => "icon-download-cloud"}
            %li
                %span.icon-upload-cloud{:title => "icon-upload-cloud"}
            %li
                %span.icon-reply{:title => "icon-reply"}
            %li
                %span.icon-reply-all{:title => "icon-reply-all"}
            %li
                %span.icon-forward{:title => "icon-forward"}
            %li
                %span.icon-quote-left{:title => "icon-quote-left"}
            %li
                %span.icon-quote-right{:title => "icon-quote-right"}
            %li
                %span.icon-code{:title => "icon-code"}
            %li
                %span.icon-export{:title => "icon-export"}
            %li
                %span.icon-export-alt{:title => "icon-export-alt"}
            %li
                %span.icon-share{:title => "icon-share"}
            %li
                %span.icon-share-squared{:title => "icon-share-squared"}
            %li
                %span.icon-pencil{:title => "icon-pencil"}
            %li
                %span.icon-pencil-squared{:title => "icon-pencil-squared"}
            %li
                %span.icon-edit{:title => "icon-edit"}
            %li
                %span.icon-print{:title => "icon-print"}
            %li
                %span.icon-retweet{:title => "icon-retweet"}
            %li
                %span.icon-keyboard{:title => "icon-keyboard"}
            %li
                %span.icon-gamepad{:title => "icon-gamepad"}
            %li
                %span.icon-comment{:title => "icon-comment"}
            %li
                %span.icon-chat{:title => "icon-chat"}
            %li
                %span.icon-comment-empty{:title => "icon-comment-empty"}
            %li
                %span.icon-chat-empty{:title => "icon-chat-empty"}
            %li
                %span.icon-bell{:title => "icon-bell"}
            %li
                %span.icon-bell-alt{:title => "icon-bell-alt"}
            %li
                %span.icon-bell-off{:title => "icon-bell-off"}
            %li
                %span.icon-bell-off-empty{:title => "icon-bell-off-empty"}
            %li
                %span.icon-attention-alt{:title => "icon-attention-alt"}
            %li
                %span.icon-attention{:title => "icon-attention"}
            %li
                %span.icon-attention-circled{:title => "icon-attention-circled"}
            %li
                %span.icon-location{:title => "icon-location"}
            %li
                %span.icon-direction{:title => "icon-direction"}
            %li
                %span.icon-compass{:title => "icon-compass"}
            %li
                %span.icon-trash{:title => "icon-trash"}
            %li
                %span.icon-trash-empty{:title => "icon-trash-empty"}
            %li
                %span.icon-doc{:title => "icon-doc"}
            %li
                %span.icon-docs{:title => "icon-docs"}
            %li
                %span.icon-doc-text{:title => "icon-doc-text"}
            %li
                %span.icon-doc-inv{:title => "icon-doc-inv"}
            %li
                %span.icon-doc-text-inv{:title => "icon-doc-text-inv"}
            %li
                %span.icon-file-pdf{:title => "icon-file-pdf"}
            %li
                %span.icon-file-word{:title => "icon-file-word"}
            %li
                %span.icon-file-excel{:title => "icon-file-excel"}
            %li
                %span.icon-file-powerpoint{:title => "icon-file-powerpoint"}
            %li
                %span.icon-file-image{:title => "icon-file-image"}
            %li
                %span.icon-file-archive{:title => "icon-file-archive"}
            %li
                %span.icon-file-audio{:title => "icon-file-audio"}
            %li
                %span.icon-file-video{:title => "icon-file-video"}
            %li
                %span.icon-file-code{:title => "icon-file-code"}
            %li
                %span.icon-folder{:title => "icon-folder"}
            %li
                %span.icon-folder-open{:title => "icon-folder-open"}
            %li
                %span.icon-folder-empty{:title => "icon-folder-empty"}
            %li
                %span.icon-folder-open-empty{:title => "icon-folder-open-empty"}
            %li
                %span.icon-box{:title => "icon-box"}
            %li
                %span.icon-rss{:title => "icon-rss"}
            %li
                %span.icon-rss-squared{:title => "icon-rss-squared"}
            %li
                %span.icon-phone{:title => "icon-phone"}
            %li
                %span.icon-phone-squared{:title => "icon-phone-squared"}
            %li
                %span.icon-fax{:title => "icon-fax"}
            %li
                %span.icon-menu{:title => "icon-menu"}
            %li
                %span.icon-cog{:title => "icon-cog"}
            %li
                %span.icon-cog-alt{:title => "icon-cog-alt"}
            %li
                %span.icon-wrench{:title => "icon-wrench"}
            %li
                %span.icon-sliders{:title => "icon-sliders"}
            %li
                %span.icon-basket{:title => "icon-basket"}
            %li
                %span.icon-cart-plus{:title => "icon-cart-plus"}
            %li
                %span.icon-cart-arrow-down{:title => "icon-cart-arrow-down"}
            %li
                %span.icon-calendar{:title => "icon-calendar"}
            %li
                %span.icon-glass{:title => "icon-glass"}
            %li
                %span.icon-help-circled{:title => "icon-help-circled"}


/ This javascript block that is rendered on the footer within the layout for this specicifc template

- content_for :javascripts do

    / = javascript_include_tag "script"

    :javascript
        $(function() {

        });

= build_reporter_fingerprint
